* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
  height: 70px;
}
.logo {
    color: #fff;
    font-size: 30px;
} 
.main-menu {
  list-style: none;
}
.main-menu li a {
  margin-right: 15px;
}
.main-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.primary-button {
  background-color: #f94c30;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
}
.primary-button:hover {
  background-color: #fff;
  color: #000;
  transition: 01s;
}
.btn{
  background-color: #fff;
  color: #000;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
}
.btn:hover {
  background-color: #f94c30;
  color: #fff;
  transition: 01s;
}
.banner-container{
  height: 100vh;
  background-image: url('./asset/image/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
}
